body {
    margin: 0px;
    height: auto;
    display: flex;
    flex-direction: column;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

/* section start */

.bar-section {
    background-color: #1F2937;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    justify-content: space-around;
    padding-bottom: 120px;
}


.bar-section h3 {
    color: white;
}

.bar-section ul {
    display: flex;
    align-items: center;
    gap: 10px;
}

.bar-section ul li {
    list-style-type: none;
}

.bar-section a {
    text-decoration: none;
    color: silver;
}

/* section end */
/* Hero section start */

.hero-section {
    background-color: #1F2937;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0px 145px;
    padding-bottom: 130px;
    /* flex-wrap: wrap; */
    padding-top: 10px;
    padding-bottom: 190px;
}

.text-btn-hero-section {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    padding-top: 0px;
}

.text-btn-hero-section h1 {
    width: 350px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    font-weight: 900;
    font-size: 48px;
    padding-left: 25px;

}

.text-btn-hero-section p {
    padding-top: 0px;
    margin-top: 0px;
    color: silver;
    padding-left: 25px;
}

.text-btn-hero-section .btn-hero button {
    color: white;
    background-color: rgb(125, 125, 253);
    padding: 5px 22px;
    border-radius: 10px;
    border: none;

}

.btn-hero {
    padding-left: 25px;

}


.text-btn-hero-section button:hover {
    cursor: pointer;
}

.hero-section img {
    width: 300px;
    padding-left: 10px;
    border-radius: 25px;
}


/* Hero section end */



/* */

/* */

.copy {
    margin-bottom: 0px;
    padding: 0px;
    display: flex;
    color: aliceblue;
    background-color: #1F2937;
    justify-content: center;
    align-items: start;
    height: 72px;
}