body {
    margin: 0px;
    height: auto;
    padding: 0px;
    display: flex;
    flex-direction: column;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.main-section {
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    padding: 20px 100px;
    background-color: #1F2937;
}





.left-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    padding: 0px;
    padding-top: 15px;
}

.left-section h3 {
    color: white;
    margin: 0px;
    font-size: 32px;

}

.left-content {
    padding-top: 90px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.left-section .left-content h1 {
    color: #F9FAF8;
    font-size: 48px;
    margin: 0px;
}

.left-section .left-content p {
    color: #D1D5DB;
    font-size: 18px;
    margin: 0px;
}

.left-section .left-content button {
    border: none;
    color: white;
    background-color: #3B82F6;
    padding: 8px 25px;
    border-radius: 10px;
}








.right-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0px;
    justify-content: flex-end;
    align-items: flex-end;
}

.right-section ul {
    list-style-type: none;
    display: flex;
    gap: 12px;
    padding-bottom: 70px;
}

.right-section ul li a {
    color: silver;
    text-decoration: none;
    font-size: 18px;
}


.right-section img {
    width: 350px;
    height: auto;
    padding-bottom: 150px;
    border-radius: 20px;
}




.images {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-bottom: 20px;
}

.images img {
    width: 200px;
    height: auto;
    border-radius: 20px;
    border: #3B82F6 solid 3px;
    padding: 5px;
}



.middle-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 30px 100px;
    padding-bottom: 150px;
}

.images {
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: flex-start;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 200px;
    gap: 1px;
}

.item .img5 {
    width: 210px;
    height: 200px;
}

.item .img {
    width: 100px;
    height: auto;
    object-fit: cover;
    border-radius: 20px;
    border: #3B82F6 3px solid;
    padding: 5px;
}

.therd-section {
    width: 100%;
    height: auto;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    padding-bottom: 100px;
    padding-top: 100px;

}

.main-para {
    color: #454242;
    font-size: 24px;
    padding-top: 20px;
    max-width: 600px;
    text-align: center;
}

.sec-para {
    width: 600px;
    font-size: 21px;
    text-align: right;
    font-weight: bold;
    padding-right: 20px;
    padding-top: 5px;
}






.fourth-section {
    width: 100%;
    height: auto;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    padding-bottom: 100px;
    padding-top: 100px;
}

.fourth-section .contner-blue {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    background-color: #3B82F6;
    padding: 40px 100px;
    border-radius: 10px;
    margin: 0px;
    flex-wrap: wrap;
}

.contner-blue {
    display: flex;
    color: white;
    background-color: #3B82F6;
    padding: 20px 20px;
    border-radius: 10px;
    margin: 0px;
    gap: 12px;
}

.contner-blue h2,
.contner-blue p {
    margin: 0px;
    padding: 0px;
}

.text-section {
    display: flex;
    flex-direction: column;
    gap: 5px;
}



.btn-sign-up {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.btn-sign-up .sign-up {
    background-color: transparent;
    border: 1px solid white;
    color: white;
    padding: 8px 20px;
    font-size: 15px;
    border-radius: 6px;
    cursor: pointer;
}





.footer {
    width: 100%;
    height: auto;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    padding-bottom: 20px;
    padding-top: 20px;
}


.footer p {
    color: #D1D5DB;
    font-size: 14px;
    margin: 0px;
}